<dom-module id="card-carousel-style">
    
    <template>
        <style>
            .carousel{
                position: relative;
                z-index: 1;
                @apply(--card-carousel-carousel);
            }
            .footer{
                background-color:var(--card-carousel-footer-bg, #fff);
                height: 60px;
                box-shadow: 1px 1px 2px #ddd;
                @apply(--card-carousel-footer);
            }
            .navigation{
                align-items: center;
                border-top: 1px solid;
                border-color: var(--car-carousel-navigation-border, #ddd);
                box-sizing: border-box;
                display: flex;
                height: 100%;
                justify-content: center;
                margin: 0 30px;
                padding: 0;
                @apply(--card-carousel-navigation);
            }
            .next,.prev,.state{
                list-style: none;
            }
            .next,.prev{
                color:var(--card-carousel-next-prev-color,#3E75C6);
                cursor: pointer;
                height: 18px;
                transform: rotate(45deg);
                width: 18px;
                @apply(--card-carousel-next-prev);
            }
            .next{
                border-top: 4px solid;
                border-right: 4px solid;
                @apply(--card-carousel-next);
            }
            .prev{
                border-bottom: 4px solid ;
                border-left: 4px solid;
                @apply(--card-carousel-next);
                cursor: pointer;
            }
            .state{
                font-size: 16px;
                margin: 0px 10px;
                @apply(--card-carousel-state);
            }
        </style>
    </template>
    
</dom-module>