<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="card-carousel-style.html">


<dom-module id="card-carousel">
  <style include="card-carousel-style">
    /**
      *   ### Styling
      *  `<card-carousel>` provides the following custom properties and mixins
      *   for styling:
      *
      *         Custom property             |             Description                  |   Default
      *  -----------------------------------|------------------------------------------|-----------------
      *    --card-carousel-carousel         | Mixin applied to carousel                |     {}
      *    --card-carousel-footer           | Mixin applied to footer                  |     {}
      *    --card-carousel-navigation       | Mixin applied to navigation              |     {}
      *    --card-carousel-next-prev        | Mixin applied to next and prev buttons   |     {}
      *    --card-carousel-next             | Mixin applied to next button             |     {}
      *    --card-carousel-prev             | Mixin applied to prev button             |     {}
      *    --card-carousel-state            | Mixin applied to state button            |     {}
      *    --card-carousel-footer-bg        | Background-color to the footer           |    #fff
      *    --car-carousel-navigation-border | Border-color to the navigation border    |    #ddd
      *    --card-carousel-next-prev-color  | Border-color to next and prev buttons    |   #3E75C6
      *  ------------------------------------------|-----------------------------------|-------------------
    */
    :host{
      background-color:pink;
      display: block;
    }
    ngob-component{
      left:0;
      right:0;
      margin:auto;
    }
  </style>  
  <template>
    <div class="carousel">
      <template is="dom-repeat" items="[[data]]" id="myfor">
        <ngob-component position="" data=[[item]]></ngob-component>
      </template>
      <div class="footer">
        <ul class="navigation">
          <li class="prev" on-click="prev"></li>
          <li class="state"> 
            [[page ]] to [[limit]]
          </li>
          <li class="next" on-click="next"></li>
        </ul>
      </div>
    </div>
  </template>
  <script>
    Polymer({
      is:"card-carousel",
      properties:{
        data:{
          type: Array
        },
        /** This property is a Number, and it used to control the shifting. */
        controlValue:{
          type: Number,
          value: 0
        },
        /** This property is a Number, and it used to signal the current page in the pagination. */
        page:{
          type:Number,
          value : 1,
        },
        /** This property is a Number, and it used to signal the limit in the pagination. */
        limit:{
          type:Number
        }
      },
      /**
        *   this method is used to load the data 
      */
      ready:function(){
        this.data  = [
          {
            name : "Maria",
            advertisement : " aumenta tu línea de crédito con un click",
            money: "$100,000" 
          },
          {
            name : "Pedro",
            advertisement : " ganaste la enorme cantidad de",
            money: "$555,000" 
          },
          {
            name : "TOño",
            advertisement : " tienes un credito de ",
            money: "$999,000" 
          }
        ]
        this.limit = this.data.length;
      },
      /**
        *   this method is used to set the position of each card,
        *   one on top of another.
      */
      attached:function(){
        var n = document.getElementsByClassName("carousel")[0].children;
        var value = 0;
        var acum = 1;
        for(var i = 1; i< n.length; i++){
          if(n[i].tagName == "NGOB-COMPONENT"){
            value = 8*i;
            n[i].style.bottom = value * (-1) + "px";
            n[i].style.width = (100 - (i+1))+ "%";
            n[i].style.zIndex = (acum++) * -1;
            n[i].style.position = "absolute";
          }
        }
      },
      /**
        *   this method is used to handle the pagination,
      */
      next:function(){
        var limit = this.data.length -1;
        if( this.controlValue < limit ){
          var store = this.data[0];
          for(var i = 0; i< limit; i++){
            this.data[i] = this.data[i+1];
          }
          this.data[limit] = store;
          this.controlValue ++
          this.$.myfor.render();
        }
        this.page = this.controlValue +1;
      },
      /**
        *   this method is used to handle the pagination,
      */
      prev:function(){
        var limit = this.data.length -1;
        if(this.controlValue>0){
          var store = this.data[limit];
          for(var i = limit; i>=0; i--){
            this.data[i] = this.data[i-1];
          }
          this.data[0] = store;
          this.controlValue --
          this.$.myfor.render();
        }
        this.page = this.controlValue +1;
      }
    });
  </script>
</dom-module>
