<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="ngob-component-style.html">
<link rel="import" href="../iron-icons/maps-icons.html">
<!--
`ngob-component`


@demo demo/index.html 
-->

<dom-module id="ngob-component">
  <template>
    <style include="ngob-component-style"></style>
    
    <style>
     /**
        *   ### Styling
        *  `<ngob-component>` provides the following custom properties and mixins
        *   for styling:
        *
        *         Custom property                            |             Description                 |     Default
        *  --------------------------------------------      |-----------------------------------------|-----------------
        *    --ngob-component-advertisement                  | Mixin applied to advertisement          |       {}
        *    --ngob-component-amount                         | Mixin applied to amount                 |       {}
        *    --ngob-component-header                         | Mixin applied to header                 |       {}
        *    --ngob-component-header                         | Mixin applied to header                 |       {}
        *    --ngob-component-information-before             | Mixin applied to before information     |       {}
        *    --ngob-component-notice                         | Mixin applied to notice                 |       {}
        *    --ngob-component-more                           | Mixin applied to more                   |       {}
        *    --ngob-component-user                           | Mixin applied to user                   |       {}
        *    --ngob-component-date                           | Mixin applied to date                   |       {}
        *    --ngob-component-advertisement-color            | Font color to advertisement             |     #636363
        *    --ngob-component-amount-color                   | Font color to amount                    |      #333
        *    --ngob-component-header-background              | Background color to header              |     turquoise
        *    --ngob-component-information-background         | Background color to information         |      #fff
        *    --ngob-component-information-background-before  | Background color to information-before  |      #fff
        *    --ngob-component-more-color                     | Font color to more                      |     #3E75C6
        *    --ngob-component-date-color                     | Font color to date                      |     #F4F4F4
        *  ------------------------------------------|-------------------------------------------------|-------------------
      */
      :host {
        display: block;
        box-shadow: 1px 1px 2px #ddd;
      }
      iron-icon{
        color: #636363;
        cursor: pointer;
      }
    </style>
    <div class$="notice [[position]]">
        <div class="header">
        </div>
        <div class="information">
          <div class="date">
            Hasta 26/11/2016 <iron-icon icon="icons:clear"></iron-icon>
          </div>
          <p class="advertisement">
            <span class="user">[[data.name]],</span> [[data.advertisement]]
          </p>
          <p class="amount">
            [[data.money]]
          </p>
          <a href="#" class="more">Saber más</a>
        </div>
    </div>
  </template>
  <script>
    Polymer({
      is: 'ngob-component',
      properties: {
        prop1: {
          type: String,
          value: 'ngob-component',
        },
        /** This property is an Object, and it used to store default data. */
        data:Object,
      },
      ready:function(){
        this.data  ={
            name : "Eduardo",
            advertisement : " aumenta tu línea de crédito con un click",
            money: "$124,987" 
          }
      }
    });
  </script>
</dom-module>
