<dom-module id="ngob-component-style">
  <template>
    <style>
      .advertisement{  
        color: var(--ngob-component-advertisement-color,#636363);
        font-size: 18px;
        margin:0px;
        width:80%;
        text-align:center;
        @apply(--ngob-component-advertisement);
      }
      .amount{
        color: var(--ngob-component-amount-color,#333);
        font-size: 30px;
        margin: 20px 0px;
        width:80%;
        text-align:center;
        @apply(--ngob-component-amount);
      }
      .header{
        background-color: var(--ngob-component-header-background,turquoise);
        height: 120px;
        position: relative;
        @apply(--ngob-component-header);
      }
      /*.header:before{
        content: "";
        position: absolute;
        width: 100%;
        padding-top: 14%;
        bottom: 0;
        right: 0;
        background: linear-gradient(-4deg, white 37% , transparent 38%);  
      }*/
      .information{
        background-color: var(--ngob-component-information-background,#fff);
        flex-grow: 1;
        position: relative;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 30px;
        @apply(--ngob-component-information);
      }
      .information:before{
        content: "";
        position: absolute;
        top: -8px;
        background-color: var(--ngob-component-information-background-before,#fff);;
        padding: 10px;
        transform: rotate(-3deg);
        bottom: 0;
        z-index: -1;
        width: 100%;
        transform-origin: top left;
        left: -1px;
        @apply(--ngob-component-information-before);
      }
      .notice{
          background-color: var(--ngob-component-notice-bg, #fff);
          display: flex;
          flex-direction: column;
          overflow: hidden;
          @apply(--ngob-component-notice);
      }
      .more{
        color: var(--ngob-component-more-color,#3E75C6);
        font-size: 18px;
        font-weight: bold;
        cursor: pointer;
        text-decoration: none;
        text-align: center;
        width: 80%;
        @apply(--ngob-component-more);
      }
      .user{
        @apply(--ngob-component-user);
      }
      .date{
        color: var(--ngob-component-date-color,#F4F4F4);
        display: none;
        text-transform: uppercase;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        margin-bottom: 20px;
        @apply(--ngob-component-date);
      }
      /*  ----------- Horizontal -------------   */
      .notice.row{
        flex-direction: row;
      }
      .notice.row .header{
        width: 40%;
        height: auto;
      }
      .notice.row .information{
        align-items: flex-start;
        padding: 20px 30px;
      }
      .notice.row .information:before{
        transform: rotate(3deg);
      }
      .notice.row .advertisement{
        color:#333;
        text-align: left
      }
      .notice.row .amount{
        text-align: left;
        margin: 10px 0px;
      }
      .notice.row .more{
        text-align: left;
      }
      .notice.row .user{
          display: block;
      }
      .notice.row .date{
          display: flex;
      }
    </style>
  </template>
</dom-module>